<!-- accounts/templates/accounts/login.html -->
{% extends 'tailored/base.html' %}

{% block content %}

<div class="log-form">
  {% if form.errors %}
  <p class="log-p">Your username and password do not match. Please try again.</p>
  {% endif %}

  {% if next %}
  <p class="log-p">Please login to see this page.</p> <br />
  {% endif %}


  <form method="post" action="{% url 'login' %}">
    {% csrf_token %} {{form.as_p}}

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <h6 class="log-h6"><a href="{% url 'signup' %}">New here? Sign up to get tailored.</a></h6><br />

</div>

{% endblock %}