.base-body {
    background-color: black;
    color: white;
    font-family: 'Tenor Sans';
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
    text-align: center;
}

.base-h1 {
    margin-top: 5%;

    font-family: 'Syncopate';
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    font-size: 40px;
    letter-spacing: 8px;
}

.landing-div {
    border: solid black 2px;
}

h4 {
    z-index: 2;
    color: pink;
}

a {
    text-decoration: none;
    color: white;
}