{% extends 'tailored/base.html' %}

{% block content %}

<body>
  <div class="landing-div">
    <hr>
    <!-- <p>Hey {{ user.username }}</p> -->
    <!-- CAROUSEL -->
    <!-- W3'S CARAOUSEL -->
    <div id="carousel" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
        <li data-target="#carousel" data-slide-to="4"></li>
        <li data-target="#carousel" data-slide-to="5"></li>
      </ol>

      <!-- The slideshow -->
      <!-- large thumbnails: -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://i.imgur.com/IZE7A6Dh.jpg" alt="img1">
        </div>
        <div class="carousel-item">
          <img src="https://i.imgur.com/lQjA3vJl.jpg" alt="img2">
        </div>
        <div class="carousel-item">
          <img src="https://i.imgur.com/i8OX6OVl.jpg" alt="img3">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

    <br />

    <!-- bottom browse buttons -->
    <div class="btn-group">
      <button type="button" class="btn btn-group"><a href="{% url 'photographer_list' %}">browse all
          sessions</a></button>
    </div>
    <!-- <div class="btn-group"></div>
    <button type="button" class="btn btn-group"><a href="{% url 'shoot_list' %}">browse all sessions</a></button>
  </div> -->
  </div>

  </body>
{% endblock %} 