{% extends 'tailored/base.html' %} 
{% block content %}
    <h2>{{ photographer.name }} <a href="{% url 'photographer_edit' pk=photographer.pk %}"> | edit |</a></h2>
    <h4>{{ photographer.name }} - {{ photographer.location }}</h4>

    <!-- <img src="{{ photographer.avatar }}" alt="" class="photo"> <br /> -->

    <!-- <h4><a href="{{ photographer.bio_url }}">Bio</a></h4> -->

    <!-- <h3>Shoots<a href="{% url 'shoot_create' %}">(+)</a></h3> -->
    <!-- <ul>
        {% for creation in photographer.creations.all %}
            <li>
                <a href="{% url 'creation_detail' pk=creation.pk %}">{{ creation.title }} ({{ creation.year_completed }})</a>
            </li>
        {% endfor %}
    </ul> -->
{% endblock %}