{% extends 'tailored/base.html' %}
{% block content %}

<h2 class="list-h2">Tailored Photographers </h2>
<div class="cards">
    <ol>
        {% for photographer in photographers %}
        <li class="list-li">
            <h4 class="list-h4">
                <a href="{% url 'photographer_detail' pk=photographer.id %}"><img src="{{photographer.avatar}}" alt=""
                        class="photo" /></a> <br />
            <br/>
            <a href="{% url 'photographer_detail' pk=photographer.id %}">{{ photographer.category }}</a><br />
            </h4>
            {% endfor %}
        </li>
    </ol>
</div>
<!-- <ul>
        {% for photographer in photographers %}
            <li>
                <img src="{{photographer.avatar}}" alt="" class="photo" /> <br />
                <a href="{% url 'photographer_detail' pk=photographer.id %}">{{ photographer.name }}</a><br /><hr/>

            </li>
        {% endfor %}
    </ul> -->
{% endblock %}

<!-- <div class="container">
    <div class="row">
        <div class="col-lg -4 mx-auto bg-black text-white">
            <div class="card-body">
                {% for photographer in photographers %}
                <h4 class="list-h4">
                <a href="{% url 'photographer_detail' pk=photographer.id %}"><img src="{{photographer.avatar}}" alt="" class="photo" /></a> <br />
                </h4>
                <a href="{% url 'photographer_detail' pk=photographer.id %}">{{ photographer.name }}</a><br />
                {% endfor %}
            </div>
            <br/>
        </div>
    </div>
</div> -->