{% extends 'tailored/base.html' %} 
{% block content %}
    <h2>{{ photographer.name }} </h2>
    <h4>{{ photographer.name }} | {{ photographer.location }}</h4>
    <h4>{{ photographer.category }} | {{ photographer.price }}</h4>

    <img src="{{ photographer.avatar }}" alt="" class="photo"> <br />

    <!-- <h4><a href="{{ photographer.bio_url }}">Bio</a></h4> -->

    <h3>View <a href="{% url 'shoot_list' %}"></a>{{ photographer.name }}'s sessions</h3>
    <ul>
        {% for shoot in photographer.shoots.all %}
            <li>
                <a href="{% url 'shoot_detail' pk=shoot.pk %}">{{ shoot.title }} ({{ shoot.photo_url }})</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}